
header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 30px 0;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0px 20px 50px #2E839E12;
}
.input input{
    border: none;
    outline: none;
}
input::placeholder{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0%;
    color: #29293033;
}
.input .search{
    width: 40px;
    height: 40px;
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register{
    display: flex;
    align-items: center;
    gap: 38px;
}
.item{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #10B981;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 0%;

}
.item .shopping{
    color: #10B981;
    font-size: 20px;
}
.login{
    display: flex;
    align-items: center;
    background-color: #10B981;
    color: white;
    gap: 15px;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 0%;
    
}
nav{
    width: 100%;
    height: 70px;
    background-color: #10B981;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 75px;
}
li a{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-decoration: none;
}


@media (max-width:992px) {
    .item{
        display: none;
    }
    .login{
        font-size: 14px;
        padding: 13px 26px;
    }
    li a{
        font-size: 18px;
    }
}

@media (max-width:768px) {
    .login{
        display: none;
    }
    nav{
        height:60px ;
    }
    li a{
        font-size: 16px;
    }
    
}
@media (max-width:480px) {
    .Navbar img{
        display: none;
    }
    nav{
        height:50px ;
    }
    li a{
        font-size: 14px;
    }
}